#card{
    height: 100vh;
    margin: 0;
    padding: auto;
    display:flex;
    max-width: 1500px;
    min-width: 300px;
    /* background-color: rgb(180, 180, 180); */
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
}

.container-cards{
    display:flex;
    max-width: 1500px;
    min-width: 300px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    margin-top: -15%;

}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 300px;
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
  margin: 10px;
 
}



.card:hover {
    height: 400px;
}

.card .img-box {
    position: absolute;
    margin-top: 7%;
    width: 200px;
    height: auto;
    top: 0px;
    transition: 0.5s;
}

.card:hover .img-box {
    top: -100px;
    scale: 0.75;
}

.card .img-box img {
    width: 100%;
    height: 100%;
    margin: 5%;
    object-fit: cover;
}

.card .content {
    display: flex;
    flex-direction: column;
    gap: 18px;
    position: absolute;
    top: 300px;
    opacity: 0;

    visibility: hidden;
    width: 100%;
    padding: 0px 30px;
    text-align: center;
    height: 30px;
    overflow: hidden;
    transition: 0.5s;
}

.card:hover .content {
    opacity: 100;
    
    visibility: visible;
    top: 130px;
    height: 250px;
}

.card .read-more {
   background: linear-gradient(90deg, #a39d30, #cec522);
   padding: 12px;
   color: #fff;
   text-decoration: none;
   border-radius: 8px;
}

@media screen and (max-width: 1030px) {
#card{
    height: 100%;
}
.container-cards{
    display:flex;
    max-width: 1500px;
    min-width: 300px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    /* margin-top: -15%; */

}
}